.card {
    margin: auto;
}

.botonMostrar {
    background-color: palevioletred;
}
.botonOcultar {
    background-color: palevioletred;
}
.botonAgregar {
    background-color: palevioletred;
}
.carro {
    margin-right: auto;
}
